@charset "UTF-8";

/* 共通部分
--------------------------------------*/
html {
    font-size: 100%;
}

body {
    font-family: 'Caveat', cursive;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* モバイル版
-------------------------------------------------*/
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* header */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    
    .main-nav li {
        margin: 0 20px;
    }

    /* home */
    .home-contents {
        margin-top: 20%;
    }
}

/* HEADER
-----------------------------------------------------*/
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
    font-family: 'Kaisei Opti', serif;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: rgba(255, 171, 35, 1);
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/*大きな背景画像*/
.big-bg {
    background-size: cover;
    background-position: center top;
}

#home {
    z-index: 1;
    position: fixed;
    background-color: rgba(250, 250, 250, 0.9);
    height: 100px;
    width: 100%;
}

#home .page-title {
    text-transform: none;
}

.site-name{
    margin-top: 18px;
}
.site-name a{
    font-size: 30px;
    font-family: 'Kaisei Opti', serif;
    color: #3F61A1;
}
.site-name a:hover{
    font-family: 'Kaisei Opti', serif;
    opacity: 0.8;
}

/* フッター
----------------------------------------*/
footer {
    background: #3F61A1;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}
/*----------------------------------------------------*/

/* 記事　*/
article {
    width: 74%;
}

/* サイドバー */
aside {
    width: 22%;
}

.home-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.container {
    position: relative;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
/*.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
*/

.image {
    position: absolute;
    z-index: 0;
    height: 770px;
	width: 100%;
    object-fit: cover;
	opacity: 0;
	animation: change-img-anim 24s infinite;

}


.image:nth-of-type(1) {
	animation-delay: 0s;
}
.image:nth-of-type(2) {
	animation-delay: 8s;
}
.image:nth-of-type(3) {
	animation-delay: 16s;
}


@keyframes change-img-anim {
    0%{ opacity: 0;}
    16.7%{ opacity: 1;}
    33.3%{ opacity: 1;}
    50%{ opacity: 0;}
    100%{ opacity: 0;}

}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.post-title {
    text-align: center;
    padding:860px 0 80px 0;
    font-family: 'Kaisei Opti', serif;
}

.home-text {
    text-align: center;
    margin-bottom: 30px;
}



.box14{
    padding: 2em 0.5em;
    margin: 14em 25em 10em 5em;
    position: absolute; 
    background: rgba(250, 250, 250, 0.7);
    box-shadow: 0px 0px 0px 10px  rgba(250, 250, 250, 0.6);
    border: dashed 2px  rgb(245, 200, 84);
    width: 400px;
    height: 150px;
    font-weight: bold;
}
.box14 h2 {
    margin: 0; 
    padding: 0;
    text-align: center;
}

.box14 p {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}


.profile-image {
    width: 300px;
    height: 300px;
    border-radius:50%;
    object-fit: cover;
    margin-left: 130px;
    margin-bottom: 0px;
}

.section-color1 {
    background-color: rgb(250, 238, 207);
    margin-top: 80px;

    padding-bottom: 0px;
}
.section-color1-2 {
    background-color: rgb(250, 238, 207);
    margin-top: 80px;
    padding-bottom: 80px;
}
.gallary-wrapper {
    padding-bottom: 40px;
}

/* font
-------------------------------------------------*/
.font-kaisei {
    font-family: 'Kaisei Opti', serif;
    font-weight: bold;
}

h2 {
    padding: 80px 0 60px 0;
    text-align: center;
}

.home-profile {
    display: flex;
}

.profile-text {
    font-family: 'Caveat', cursive;
    margin-left: 150px;
    margin-bottom: 8px;
    
}


/* ボタン
-----------------------------------------------*/
/*その他と主な共通部分は省略*/

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.btn,
a.btn,
button.btn {
    font-size: 62.5%;
    height: 70px;
    width: 300px;
    margin: 80px 0 0 350px;
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 0rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-flat {
    height: 70px;
    width: 300px;
    overflow: hidden;
    padding: 1.5rem 2rem;
    color: #432;
    border-radius: 0;
    background-color: rgba(250, 250, 250, 0.9);

}
  
a.btn-flat span {
    position: relative;

}
  
a.btn-flat:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-96%);
    transform: translateX(-96%);
    background: rgba(255, 171, 35, 1);
}
  
a.btn-flat:hover:before {

    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}


/* home image
--------------------------------------------------*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:700px;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:400px;
    object-fit: cover;
}

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}




/* 日記
------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,300,500,700);

/*
body {
    background: #EDF0F3;
    font-family: 'RobotoDraft', sans-serif;
    font-size: 16px;
}
*/

article {
    background: #fbfcfe;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    height: 250px;
    margin: 64px auto;
    position: relative;
    width: 880px;
}

.articlecard {
    border: solid 16px #FFF;
    box-sizing: border-box;
    box-shadow: 8px 8px 32px rgba(0,0,0,.2);
    position: absolute;
    top: -20px;
    left: -20px;
    width: 400px;
    height: 220px;
    object-fit: cover;
}


.articlecard-text {
    width: 50%;
    box-sizing: border-box;
    padding: 32px;
    position: absolute;
    top: 0;
    right: 0;
    
}

.category {
    color: #3F61A1;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 2px 0;
    text-transform: uppercase;
}

.article-h1 {
    color: #656D78;
    font-size: 22px;
    font-weight: 300;
    margin: 16px 0;
}

article-p {
    color: #656D78;
    font-weight: 400;
    line-height: 1.8;
    margin: 8px 0;
}

.article-a {
    background: #3F61A1;
    box-shadow: 0 4px 8px rgba(13, 29, 110, 0.5);;
    color: #FFF;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 16px;
    text-decoration: none;
    text-transform: uppercase;
    height: 50px;
    width: 170px;
    line-height: 50px;
    text-align: center;
    transition: all ease .4s;
}
.article-a:hover {
    background: #2e4f8b;
    box-shadow: 0 4px 8px rgba(0, 15, 150, 0.5);
}
#container2{
    width:715px;
    height:200px;
    margin:70px 0px 0px 150px;
  
}

#container2-2{
    width:715px;
    height:140px;
    margin:auto;
  
}

.button-7{
    width:140px;
    height:50px;
    border:2px solid #3F61A1;
    background-color: #3F61A1;
    box-shadow: 0 4px 8px rgba(12, 25, 93, 0.5);
    float:left;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 40px 50px;
    
}

.button-7-2{
    width:140px;
    height:50px;
    border:2px solid #3F61A1;
    background-color: #3F61A1;
    box-shadow: 0 4px 8px rgba(12, 25, 93, 0.5);
    float:left;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:90px 0 0px 290px;
    
}
.button-7:hover a{
    color:#fff;
    
}

.button-7-2:hover a{
    color:#fff;
    
}

.eff-7{
    width:140px;
    height:50px;
    border:0px solid #3F61A1;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
    box-sizing:border-box;
}

.eff-7-2{
    width:140px;
    height:50px;
    border:0px solid #3F61A1;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
    box-sizing:border-box;
}

.button-7:hover .eff-7{
    border:70px solid #2d4c85;
}

.button-7-2:hover .eff-7-2{
    border:70px solid #2d4c85;
}

.button-7 a{
    color:#fff;
    font-family:arial;
    font-size:16px;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
}

.button-7-2 a{
    color:#fff;
    font-family:arial;
    font-size:16px;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
}
  

